<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-91874922-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-91874922-2');
    </script>
    <link rel="shortcut icon" href="<%= webpackConfig.output.publicPath %>favicon.ico">
    <!-- Latest compiled and minified JavaScript -->

    <title>KF2 Calculator</title>
  </head>
  <body>
    <noscript>
      <strong>This page requires JavaScript to be enabled. Please enable it to continue.</strong>
    </noscript>

    <div id="root"></div>
    <!-- built files will be auto injected -->

  </body>
</html>
